
body{
    
    direction: rtl;
}
.header{
  height: 150px;
  background-color: rgb(138, 207, 240);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
  color: white;
  font-size: 1.2rem;
    
}
.footer{
    height: 150px;
    background: rgb(138,207,240);
    border: 1px solid;
    text-align: center;
}

.btn{
  padding :.25rem .25rem .5rem ;
  font-size: .875rem;
  line-height: .5;
  border-radius: .2rem;
  color: #036366;
}